// Theming overrides for sample theme
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,600,700");
$header-bg: linear-gradient(134.39deg, #0E1E47 0%, #EE4460 100%);
$footer-bg: rgb(14, 30, 71);
$container-bg: rgb(241, 241, 241);
$content-wrapper-bg: rgb(241, 241, 241);
$serif: 'Roboto';
$font-family-sans-serif: 'Roboto';
$primary-color: rgb(14, 30, 71);

// Define the primary blue color
$blue: rgb(14, 30, 71);

// Make blue the primary color
$primary: $blue;


// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

.window-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    .global-header {
        background: $header-bg !important;
        border-bottom: 0px;

        .header-logo {
            .course-header{
                color: #fff !important;
            }

            a {
                margin: 20px 10px 0 40px !important;
            }
        }



        .nav-links{
            .main{
                .nav-tab{
                    margin: 0px 10px !important;
                    min-width: 100px !important;

                    a{
                        color: #fff !important;
                        text-align: center !important;

                    }
                    a.active{
                        border-bottom-color: #fff !important;
                    }

                    a:hover{
                        border-bottom-color: #fff !important;
                    }
                }
            }
            .secondary {
                .nav-item {
                    a{
                        color: #fff !important;
                        font-weight: 300 !important;
                    }

                    a.register-btn {
                        color: #fff !important;
                        background-color: $primary !important;
                    }

                    a.register-btn:hover {
                        background-color: #242424 !important;
                    }

                    a.sign-in-btn:hover{
                        background-color: #242424 !important;
                    }

                    a.sign-in-btn{
                        border: 0px !important;
                    }

                    .dropdown-user-menu {
                        color: $primary !important;
                        right: 20px !important;
                        top: 74px !important;
                        width: 150px !important;
                        .dropdown-item{
                            a{
                                color: $primary !important;
                            }
                        }
                    }
                }

                .btn{
                    padding: 10px 20px !important;
                    border-radius: 0px !important;
                    border: 0px !important;
                }
            }
        }

    }

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
        font-family: Roboto, sans-serif !important;
        font-weight: 300 !important;
    }

    .wrapper-preview-menu{
        margin:0 !important;
    }

    .content-wrapper {
        margin: 0 !important;
    }


    .courses-container{
        width: 90% !important;
        max-width: 1280px !important;
        margin: 0 auto;

        .courses{
            .course {
                border-bottom: 3px solid $primary !important;
            }
        }
    }

}

.wrapper-footer {
  background: $primary !important;
  width: 100% !important;
  position: initial !important;
  bottom: 0;
  z-index: 1;
  margin-top: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  footer {
      .legal-nav, .site-nav {
          .nav-item{
              .nav-link {
                  color: #fff !important;

                  &:hover{
                      color: #767676 !important;;
                  }
              }
          }
      }
  }

  .copyright {
      color: #767676 !important;
  }



  footer#footer-openedx{
      margin: 0 20px !important;

      a{
          color: #767676;
      }

      .colophon{
          .nav-colophon{
              li {
                  a {
                      color: #fff !important;
                  }

                  a:hover, a:active{
                      color:#767676 !important;
                  }
              }
          }
      }
      .footer-about-openedx{
          display: flex !important;
          justify-content: flex-end;
          align-items: baseline;
      }
  }
}
